body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}

.menu {
    width: 200px;
    height: 100%;
    background-color:plum;
    position: fixed;
    left: 0;
    top: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 15px;
}

.menu ul li a {
    text-decoration: none;
    color:black;
    display: flex;
    align-items: center; 
    padding: 10px;
}

.menu ul li a i {
    margin-right: 10px; 
    font-size: 20px; 
}

.menu ul li a:hover {
    background-color: bisque; 
}
.porfile{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}
h1{
    margin-left: 500px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
    max-width: 900px; 
    margin: 20px auto; 
    padding: 0 20px;
    margin-left: 250px;
    margin-top: 100px;
}

.gallery a {
    display: block;
    text-decoration: none;
    
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}

.gallery img:hover {
    transform: scale(1.05); 
}


